@model Wedding.Models.SendCodeViewModel
@{
    ViewBag.Title = "ZenZoy - Send Code";
    Layout = "~/Views/Shared/_LayoutWithFooter.cshtml";
}

<div class="row min-height">
    <div class="col-xs-10 col-md-6 col-lg-5 col-xl-4 center-block float-none">
        <div class="msg-header">@ViewBag.Title</div>
        @using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("rememberMe", @Model.RememberMe)
            <div class="msg-text">
                Send verification code
                <br />
                Select Two-Factor Authentication Provider:
            </div>
            @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <fieldset class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            </fieldset>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
